<or>
  <hostname op="=" value="dell-pe-fc630-02.dell2.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="dell-pem630-01.dell2.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="dell-pem630-02.dell2.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="dell-per630-02.dell2.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="dell-per630-fc-01.dell2.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="dell-per630-fc-03.dell2.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="dell-per640-04.dell2.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="dell-per6415-01.lab2.eng.bos.redhat.com"/>
  <hostname op="=" value="dell-per6415-02.lab2.eng.bos.redhat.com"/>
  <hostname op="=" value="dell-per6415-03.lab2.eng.bos.redhat.com"/>
  <hostname op="=" value="dell-per6415-04.lab2.eng.bos.redhat.com"/>
  <hostname op="=" value="dell-per740-01.lab.eng.pek2.redhat.com"/>
  <hostname op="=" value="dell-per740-03.knqe.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="intel-purley-qat-02.khw1.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="sgi-uv300-03.khw2.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="dell-r640-01.dell2.lab.eng.bos.redhat.com"/>
  <hostname op="=" value="dell-r640-02.dell2.lab.eng.bos.redhat.com"/>
</or>
